.row {
	margin: 0 -10px;
	
}
.row::after {
	content: '';
	clear: both;
	display: block;
}
.col {
	float: left;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}
@for $i from 1 through 12{
    .col-#{$i} {width: 8.333333333% * $i}
}