// Fonts 
$basicFontLite: 'latolight', sans-serif;
$basicFontRegular: 'latoregular', sans-serif;
$logoFont: 'audreyregular', sans-serif;
// Basic Colors
$basicBrown: #ccb48e;
$basicGrey: #333333;
$liteGrey: #f6f4f0;
$borderGrey: #e5e5e5;
// Aside

// Header
$headerBottomColor: rgba(244, 243, 242, .9);